{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style/style.css' %}">



              <p class="about_me"> I am a student from KMC and have recently given my +2 examination.I have always loved coding since school.
                                   I took great interest in QBASIC at school. I also studied computer science in +2 so, that I can presue my
                                   interest and love for coding in the future. I have a good knowledge in C programming as I studied it in
                                   +2. Moreover in my free time, I used to learn python using different websites.I am learning
                                   different coding language. For my undergrad degree I will join Bsc. Csit to enhance my knowledge in the
                                   field in which I am interested.  </p>

                                   <img src="{% static 'code1.jpg'%}" class="about1">
                                   <p class="about_me">Nowadays I am learning coding from Levelup a platform that provides us with complete
                                    knowledge about machine language, but I am not limiting myself only in field of coding. I also work as a
                                    part time tuition teacher. I teach students of class 6-7. I am also improving my communication skills and trying to be
                                    a better version of myself.</p>

                                    <p  class="code">If you have any questions to ask me you can contact me through different medium.</p>




