{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<section class="contact-place">
                <h1>contact us</h1>
                <form action="#" method="get">


                    <div class="form">
                      <label for="name" class="sr-only">full name</label>
                      <input type="text"  class="form-control-plaintext" name="fullname" id="staticEmail2" placeholder="xxx">
                    </div>

                    <div class="form">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="email" class="form-control-plaintext" name="email" id="staticEmail2" placeholder="email@example.com">
                      </div>
                    <div class="form">
                        <label for="number" class="sr-only">contact number</label>
                        <input type="number"  class="form-control-plaintext" name=" number" id="staticEmail2" placeholder="192023">
                    </div>
                    <button type="submit" class="button">submit</button>

                </form>
                




            </section>
            <section>
                <p class="more">For more info connect with me on <a href="https://www.facebook.com/suyesh.parajuli.5">facebook</a></p>
                <p class="more">Or call me directly: 96841214209</p>
            </section>